<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>刷卡页面</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/cardoperation.js}"></script>
    <object id="CSharpActiveX" classid="clsid:65D8E97F-D3E2-462A-B389-241D7C38C518" codebase="ActiveSetup.CAB#version=1,0,0" ></object>
</head>
<body>
<div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-sm-4 control-label"></label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="medicalInsuranceRead" value="option1">医保读卡
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="icCardRead" value="option2">身份证读卡
                </label>
            </div>
        <div class="form-group">
            <label for="cardInfo" class="col-sm-4 control-label" id="cardNum">身份证号</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="cardInfo" >
            </div>
        </div>

    </form>
</div>
</body>
</html>
