<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<SCRIPT language="javascript">
    function iReadCardBas(){
        var result;
        var Type;
        Type=document.getElementById("cardType").value;

        result = SSCARD.iReadCardBas(Type);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iReadCard(){
        var result;
        var Buffdata;
        var BuffAddr;
        var Type;
        var KeyType;

        Type=document.getElementById("cardType").value;
        Buffdata=document.getElementById("writetext").value;
        BuffAddr=document.getElementById("cardAddr").value;
        KeyType=document.getElementById("cardKey").value;

        result = SSCARD.iReadCard(Type,KeyType,Buffdata,BuffAddr);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iWriteCard(){
        var result;
        var Type;
        var Sbuff;
        var BuffAddr;
        var KeyType;

        Type=document.getElementById("cardType").value;
        Sbuff=document.getElementById("writetext").value;
        BuffAddr=document.getElementById("cardAddr").value;
        KeyType=document.getElementById("cardKey").value;
        alert(BuffAddr);
        result = SSCARD.iWriteCard(Type,KeyType,Sbuff,BuffAddr);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iVerifyPIN(){
        var result;
        var Type;
        Type=document.getElementById("cardType").value;

        result = SSCARD.iVerifyPIN(Type);
        alert(SSCARD.pOutInfo);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iChangePIN(){
        var result;
        var Type;
        Type=document.getElementById("cardType").value;

        result = SSCARD.iChangePIN(Type);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iReloadPIN(){
        var result;
        var Buffdata;
        var Type;
        Type=document.getElementById("cardType").value;
        Buffdata=document.getElementById("writetext").value;

        result = SSCARD.iReloadPIN(Type,Buffdata);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iDoDebit(){
        var result;
        var Buffdata;
        var money;
        var Type;
        Type=document.getElementById("cardType").value;
        Buffdata=document.getElementById("writetext").value;
        money=document.getElementById("moneydata").value;

        result = SSCARD.iDoDebit(Type,Buffdata,money);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iReadDebitRecord(){
        var result;
        var Buffdata;
        var money;
        var Type;
        Type=document.getElementById("cardType").value;

        result = SSCARD.iReadDebitRecord(Type);
        document.getElementById("recardtext").value=SSCARD.pOutInfo;

    }
    function iReadCardBas_HSM_Step1(){
        var result;
        var Buffdata;
        var Type;
        Type=document.getElementById("twoType").value;
        Buffdata=document.getElementById("writetext").value;

        result = SSCARD.iReadCardBas_HSM_Step1(Type);
        document.getElementById("retwotext").value=SSCARD.pOutInfo;

    }
    function iReadCardBas_HSM_Step2(){
        var result;
        var Buffdata;
        var Type;
        Type=document.getElementById("twoType").value;
        Buffdata=document.getElementById("writetext").value;

        result = SSCARD.iReadCardBas_HSM_Step2(Type);
        document.getElementById("retwotext").value=SSCARD.pOutInfo;
    }
    function iReadCard_HSM_Step1(){
        var result;
        var Buffdata;
        var Type;
        Type=document.getElementById("twoType").value;
        Buffdata=document.getElementById("writetext").value;

        result = SSCARD.iReadCard_HSM_Step1(Type);
        document.getElementById("retwotext").value=SSCARD.pOutInfo;
    }
</SCRIPT>
<style>
    #header {
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
    }
    #nav {
        line-height:30px;
        background-color:#eeeeee;
        height:100%;
        width:15%;
        float:left;
        padding:0px;
    }
    #section {
        width:80%;
        height:90%;
        margin-left: 2%;
        margin-top: 1%;
        float:left;
        padding:0px;
    }
    #footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
    }
    li {list-style-type:none;}



    .left {width:70%; float:left; display:inline;}
    .right {width:30%; float:left; display:inline;}



    body{ margin:0; height:100%}
    html{ height:100%} /*兼容firefox的div高度100%*/


    .black_overlay{
        display: none;
        position: relative;top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content{
        display: none;
        position: absolute;
        top: 25%;  left: 25%;
        width: 50%;
        height: 60%;
        padding: 20px;
        border: 1px solid black;
        background-color: white;
        z-index:1002;
        overflow:auto
    }
    #a { position:absolute; top:0; right:0; z-index:99;}
</style>
<OBJECT ID="SSCARD" CLASSID="CLSID:D9532F10-603B-4BF7-87AE-F4130EF43553"></OBJECT>
</head>
<body style="width:100%;height:100%;">
<div id="header">
    <h1>社会保障卡跨地区应用终端接口功能测试</h1>
</div>

<div id="nav">
    <ul>
        <li><button value="test" onclick="iReadCardBas()" style="width:100%;">读基本信息</button></li>
        <li><button value="test" onclick="iReadCard()" style="width:100%;margin-top:10px;">通用读卡</button></li>
        <li><button value="test" onclick="iWriteCard();" style="width:100%;margin-top:5px;">通用写卡</button></li>
        <li><button value="test" onclick="iVerifyPIN();" style="width:100%;margin-top:5px;">PIN码校验</button></li>
        <li><button value="test" onclick="iChangePIN();" style="width:100%;margin-top:5px;">PIN码修改</button></li>
        <li><button value="test" onclick="iReloadPIN();" style="width:100%;margin-top:5px;">PIN码重置</button></li>
        <li><button value="test" onclick="iUnblockPIN();" style="width:100%;margin-top:5px;">PIN码解锁</button></li>
        <li><button value="test" onclick="iDoDebit();" style="width:100%;margin-top:5px;">消费交易</button></li>
        <li><button value="test" onclick="iReadDebitRecord();" style="width:100%;margin-top:5px;">读消费交易记录</button></li>
    </ul>

</div>

<div id="light" class="white_content">
    <a id="a" href="#" onClick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" style="color:black;z-index:9999;float:right;">退出</a>
    <div style="width:100%;height:122%;border:#ccc solid 1px;" id="dituContent">
        <div style="width:100%;height:10%;margin-top:3%;">
            <div style="float:left;width:20%;">卡类型:</div>
            <div style="float:left;width:80%;">
                <select style="width:100%;" id="cardAddr1">
                    <option value="3F00EF05|01|02|03|04|05|06|07|$">3F00EF05|01|02|03|04|05|06|07|$</option>
                    <option value="3F00EF06|08|09|4E|0A|0B|0C|0D|$">3F00EF06|08|09|4E|0A|0B|0C|0D|$</option>
                </select>
            </div>
        </div>

        <div style="width:100%;">
            <fieldset style="width:98.5%;height:30%;">
                <legend>个人信息</legend>
                个人卡信息：<input type="text" style="width:80%;" id="" value="512000D1560000050006096B01863193|A90000380|"/>
            </fieldset>
        </div>
        <div style="width:100%;margin-top: 0px;">
            <fieldset style="width:98.5%;margin-top: 0px;">
                <legend>步骤一:</legend>
                <div style="width:75%;">
                    <div style="width:100%;">
                        <div style="float:left;width:28%;">请选择文件：</div>
                        <div style="float:left;width:72%;">
                            <select style="width:100%;" id="twoType">
                                <option value="1">1-对接触卡操作</option>
                                <option value="2">2-对非接卡操作</option>
                            </select>
                        </div>
                    </div>
                    <div style="width:100%;">
                        <div style="float:left;width:28%;margin-top: 3%;">文件鉴权信息源：</div>
                        <div style="float:left;width:72%;margin-top: 1%;">
                            <textarea style="width:100%;" rows="3" cols="28" id=""></textarea>
                        </div>
                    </div>
                </div>
                <div style="float:left;width:23%;margin-left:2%;">
                    <button onclick="iReadCardBas_HSM_Step1" style="width:90%;">步骤一：获取文件鉴权信息源</button>
                </div>
            </fieldset>
        </div>

        <div>
            <fieldset style="width:98.5%;margin-top: 1%;">
                <legend>输入(模拟生成)鉴权数据:</legend>
                <div style="width:75%;float:left;">
                    <textarea style="width:100%;" rows="3" cols="28" name= "recardtext1" id="recardtext1"></textarea>
                </div>

                <div style="width:23%;float:left;" align="right">
                    <button onclick="" style="width:90%;margin-lef:5px;">(模拟):生成鉴别数据</button>
                </div>
        </div>

        <div>
            <fieldset style="width:98.5%;margin-top: 1%;">
                <legend>步骤二:</legend>
                <div style="width:13%;float:left;margin-top: 1%;"">
                IC卡信息:
        </div>
        <div style="width:62%;float:left;">
            <textarea style="width:100%;" rows="3" cols="28" name= "recardtext2" id="retwotext2"></textarea>
        </div>

        <div style="width:23%;float:left;margin-top:2%;" align="right">
            <button onclick="" style="width:90%;margin-lef:5px;">步骤二:读取卡信息</button>
        </div>
    </div>

</div>
</div>
</div>
</div>

<div id="section">
    <form style="width:100%;height:100%;">

        <fieldset style="width:100%;">
            <legend>个人信息</legend>
            个人卡信息：<input type="text" style="width:90%;" id="writetext" value="512000D1560000050006096B01863193|A90000380|"/>
        </fieldset>

        <fieldset style="width:100%;margin-top: 1%;">
            <legend>消费信息</legend>
            消费金额信息：<input type="text" style="width:90%;" id="moneydata" value="0.1|0.2|20151118185001|"/>
        </fieldset>

        <fieldset style="width:100%;margin-top: 1%;">
            <legend>通用读写卡文件信息</legend>
            <div>请选择文件地址：</div>
            <select style="width:100%;" id="cardAddr">
                <option value="3F00EF05|01|02|03|04|05|06|07|$">3F00EF05|01|02|03|04|05|06|07|$</option>
                <option value="3F00EF06|08|09|4E|0A|0B|0C|0D|$">3F00EF06|08|09|4E|0A|0B|0C|0D|$</option>
                <option value="3F00EF07|00|$">3F00EF07|00|$</option>
                <option value="DF01EF05|20|21|0E|$">DF01EF05|20|21|0E|$</option>
                <option value="DF01EF15|2A|40|$">DF01EF15|2A|40|$</option>
            </select>
            <div>请输入写卡(业务)数据：</div>
            <textarea style="width:100%;" rows="3" cols="28" id="SBuff"></textarea>
        </fieldset>

        <fieldset style="width:100%;margin-top: 1%;">
            <div style="width:50%;float:left;">

                <div style="width:20%;float:left;">卡类型:</div>
                <div>
                    <select style="width:80%;float:left;" id="cardType">
                        <option value="1">1-对接触卡操作</option>
                        <option value="2">2-对非接卡操作</option>
                    </select>
                </div>


                <div style="width:20%;float:left;">认证方式:</div>
                <div>
                    <select style="width:80%;float:left;" id="cardKey">
                        <option value="1">1-PIN码校验</option>
                        <option value="2">2-RK密钥认证</option>
                    </select>
                </div>



        </fieldset>

        <fieldset style="width:100%;margin-top: 1%;">
            <legend>IC卡(业务)输出</legend>
            <textarea style="width:100%;" rows="10" cols="28" name= "recardtext" id="recardtext"></textarea>
        </fieldset>
    </form>

</div>

</body>
</html>