<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bend.his.insurance.biz.dao.HospitalOrganizationMapper">

    <sql id="FIELDS">
        id,
        hospital_name hospitalName,
        organization_name organizationName,
        hospital_id hospitalId,
        hospital_addr hospitalAddr,
        contact_person contactPerson,
        contact_phone contactPhone,
        postal_code postalCode,
        create_time createTime,
        update_time updateTime,
        is_delete isDelete,
        delete_time deleteTime,
        create_user_id createUserId,
        delete_user_id deleteUserId
    </sql>

    <sql id="selectWhere">
        <if test="hospitalName != null and hospitalName != '' ">
            AND hospital_name LIKE CONCAT('%', #{hospitalName}, '%')
        </if>
        <if test="organizationName != null and organizationName != '' ">
            AND organization_name LIKE CONCAT('%', #{organizationName}, '%')
        </if>
    </sql>

    <select id="selectListByNameLike" resultType="com.bend.his.insurance.biz.dataobject.HospitalOrganizationDO">
        SELECT
        <include refid="FIELDS" />
        FROM hospital_organization
        <where>
            <include refid="selectWhere" />
            AND is_delete = '0'
        </where>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCountByNameLike" resultType="Integer">
        SELECT
        COUNT(1)
        FROM hospital_organization
        <where>
            <include refid="selectWhere" />
            AND is_delete = '0'
        </where>
    </select>

</mapper>